In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
data = pd.read_csv('purchase_data.csv')

In [20]:
data

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
...,...,...,...,...,...,...,...,...,...,...,...,...
550063,1006033,P00372445,M,51-55,13,B,1,1,20,NaN,NaN,368
550064,1006035,P00375436,F,26-35,1,C,3,0,20,NaN,NaN,371
550065,1006036,P00375436,F,26-35,15,B,4+,1,20,NaN,NaN,137
550066,1006038,P00375436,F,55+,1,C,2,0,20,NaN,NaN,365
550067,1006039,P00371644,F,46-50,0,B,4+,1,20,NaN,NaN,490

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     550068 non-null  int64
 1   Product_ID                  550068 non-null  object
 2   Gender                      550068 non-null  object
 3   Age                         550068 non-null  object
 4   Occupation                  550068 non-null  int64
 5   City_Category               550068 non-null  object
 6   Stay_In_Current_City_Years  550068 non-null  object
 7   Marital_Status              550068 non-null  int64
 8   Product_Category_1          550068 non-null  int64
 9   Product_Category_2          376430 non-null  float64
 10  Product_Category_3          166821 non-null  float64
 11  Purchase                    550068 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 50.4+ MB

In [22]:
data.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Product_Category_3            383247
Purchase                           0
dtype: int64

In [23]:
# # drop null value or replace null values
# less null values--- drop null value

# more null values:
#     dedicated to paticular columns -drop
#     scattered amoung all the column -replacement

In [24]:
data.dropna(inplace=True)

In [25]:
data

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
6,1000004,P00184942,M,46-50,7,B,2,1,1,8.0,17.0,19215
13,1000005,P00145042,M,26-35,20,A,1,1,1,2.0,5.0,15665
14,1000006,P00231342,F,51-55,9,A,1,0,5,8.0,14.0,5378
16,1000006,P0096642,F,51-55,9,A,1,0,2,3.0,4.0,13055
...,...,...,...,...,...,...,...,...,...,...,...,...
545902,1006039,P00064042,F,46-50,0,B,4+,1,3,4.0,12.0,8047
545904,1006040,P00081142,M,26-35,6,B,2,0,6,8.0,14.0,16493
545907,1006040,P00277642,M,26-35,6,B,2,0,2,3.0,10.0,3425
545908,1006040,P00127642,M,26-35,6,B,2,0,1,2.0,15.0,15694
545914,1006040,P00217442,M,26-35,6,B,2,0,1,2.0,11.0,11640

In [26]:
data.duplicated().sum()

0

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 166821 entries, 1 to 545914
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     166821 non-null  int64
 1   Product_ID                  166821 non-null  object
 2   Gender                      166821 non-null  object
 3   Age                         166821 non-null  object
 4   Occupation                  166821 non-null  int64
 5   City_Category               166821 non-null  object
 6   Stay_In_Current_City_Years  166821 non-null  object
 7   Marital_Status              166821 non-null  int64
 8   Product_Category_1          166821 non-null  int64
 9   Product_Category_2          166821 non-null  float64
 10  Product_Category_3          166821 non-null  float64
 11  Purchase                    166821 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 16.5+ MB

In [28]:
data

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
6,1000004,P00184942,M,46-50,7,B,2,1,1,8.0,17.0,19215
13,1000005,P00145042,M,26-35,20,A,1,1,1,2.0,5.0,15665
14,1000006,P00231342,F,51-55,9,A,1,0,5,8.0,14.0,5378
16,1000006,P0096642,F,51-55,9,A,1,0,2,3.0,4.0,13055
...,...,...,...,...,...,...,...,...,...,...,...,...
545902,1006039,P00064042,F,46-50,0,B,4+,1,3,4.0,12.0,8047
545904,1006040,P00081142,M,26-35,6,B,2,0,6,8.0,14.0,16493
545907,1006040,P00277642,M,26-35,6,B,2,0,2,3.0,10.0,3425
545908,1006040,P00127642,M,26-35,6,B,2,0,1,2.0,15.0,15694
545914,1006040,P00217442,M,26-35,6,B,2,0,1,2.0,11.0,11640

In [29]:
data["Stay_In_Current_City_Years"].value_counts()

1     58287
2     31515
3     29268
4+    25362
0     22389
Name: Stay_In_Current_City_Years, dtype: int64

In [30]:
data["Stay_In_Current_City_Years"]=data["Stay_In_Current_City_Years"].replace("4+","4")

In [31]:
data["Stay_In_Current_City_Years"].value_counts()

1    58287
2    31515
3    29268
4    25362
0    22389
Name: Stay_In_Current_City_Years, dtype: int64

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 166821 entries, 1 to 545914
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     166821 non-null  int64
 1   Product_ID                  166821 non-null  object
 2   Gender                      166821 non-null  object
 3   Age                         166821 non-null  object
 4   Occupation                  166821 non-null  int64
 5   City_Category               166821 non-null  object
 6   Stay_In_Current_City_Years  166821 non-null  object
 7   Marital_Status              166821 non-null  int64
 8   Product_Category_1          166821 non-null  int64
 9   Product_Category_2          166821 non-null  float64
 10  Product_Category_3          166821 non-null  float64
 11  Purchase                    166821 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 16.5+ MB

In [33]:
data["Stay_In_Current_City_Years"]=data["Stay_In_Current_City_Years"].astype(int)

In [34]:
# data["Stay_In_Current_City_Years"]=pd.to_numeric(data["Stay_In_Current_City_Years"],errors="coerce")

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 166821 entries, 1 to 545914
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     166821 non-null  int64
 1   Product_ID                  166821 non-null  object
 2   Gender                      166821 non-null  object
 3   Age                         166821 non-null  object
 4   Occupation                  166821 non-null  int64
 5   City_Category               166821 non-null  object
 6   Stay_In_Current_City_Years  166821 non-null  int32
 7   Marital_Status              166821 non-null  int64
 8   Product_Category_1          166821 non-null  int64
 9   Product_Category_2          166821 non-null  float64
 10  Product_Category_3          166821 non-null  float64
 11  Purchase                    166821 non-null  int64
dtypes: float64(2), int32(1), int64(5), object(4)
memory usage: 15.9+ MB

In [36]:
data["Age"].unique()

array(['0-17', '46-50', '26-35', '51-55', '36-45', '18-25', '55+'],
      dtype=object)

In [37]:
# Label Encoding
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
for col in data.columns:
    if data[col].dtype=="object":
        data[col]=le.fit_transform(data[col])

In [38]:
data.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')

In [39]:
data

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
1,1000001,394,0,0,10,0,2,0,1,6.0,14.0,15200
6,1000004,287,1,4,7,1,2,1,1,8.0,17.0,19215
13,1000005,214,1,2,20,0,1,1,1,2.0,5.0,15665
14,1000006,366,0,5,9,0,1,0,5,8.0,14.0,5378
16,1000006,520,0,5,9,0,1,0,2,3.0,4.0,13055
...,...,...,...,...,...,...,...,...,...,...,...,...
545902,1006039,101,0,4,0,1,4,1,3,4.0,12.0,8047
545904,1006040,120,1,2,6,1,2,0,6,8.0,14.0,16493
545907,1006040,421,1,2,6,1,2,0,2,3.0,10.0,3425
545908,1006040,184,1,2,6,1,2,0,1,2.0,15.0,15694
545914,1006040,346,1,2,6,1,2,0,1,2.0,11.0,11640

In [40]:
#Visualization

In [41]:
plt.figure(figsize=(10,5))
sns.countplot(data['Product_Category_1'])

KeyError: 0

In [ ]:
#from the product category_1 most people puchases only one item

In [ ]:
Homework- create different plots and infer the information from it

# Statistic analysis

In [ ]:
# Hypothesis testing
# Example- 
# assumption - 60% of men are data scientist

# steps to perform Hypothesis Testing
#     generate two hypothesis:
#         Null Hypothesis: 60% of men are data scientist
#         Alternate Hypothesis: 60% of men are not data scientist
#     Collect the data and create the samples 
#     select suitable test
#     p-value- (Evidence)
#     Reject on Accept the p value based on significance level(0.05)

In [ ]:
1 sample test: in my assumption if the one sample is being compared by a standard value
    Ex:Avg salary of men in India is 60K(standard value)
2 sample test: in my assumption if one sample is being compared by another sample
    Ex avg salary of men in India is same as avg salary of women

# It was observed that the average purchase made by the Men of the age 18-25 was 10000. Is it still the same?

In [ ]:
two choices : t test / z test

In [ ]:
# t test for the one sample

In [ ]:
#null hypothesis - The mean is 10000
#alternate hypothesis - The mean is not 10000

In [ ]:
new_data = data[(data['Age'] == 1) & data['Gender'] == 1]

In [ ]:
new_data

In [ ]:
sample_size = 1000
sample = new_data.sample(sample_size, random_state=0)

In [ ]:
sample

In [ ]:
new_data["Purchase"].mean()

In [ ]:
a_mean = 10000

In [ ]:
#one sample t-test
from scipy.stats import ttest_1samp

In [ ]:
t_stat, p_value = ttest_1samp(sample['Purchase'], a_mean)
print(t_stat, p_value)

In [ ]:
#P-value is less than 0.05, reject the null hypothesis. 
#therefore, the mean purchase for men aged 18-25 is not 10000.

# . It was observed that the percentage of women of that spend more than 10000 was 35%. Is it still the same?

In [ ]:
# z_ proportion test for one sample
# parameters: count, nobs, value

In [ ]:
#null hypothesis - proportion is 35%.
#alternate hypothesis - proportion is not 35%. 

data_new = data[(data['Purchase'] > 10000)]

In [ ]:
data_new

In [ ]:
#No of women in the sample
count = data_new['Gender'].value_counts()[0]

#number of observations
nobs = len(data_new['Gender'])

#hypothesised value
percent = 0.35

In [ ]:
data_new['Gender'].value_counts()

In [ ]:
count,nobs,percent

In [ ]:
#one sample z test
from statsmodels.stats.proportion import proportions_ztest

In [ ]:
z_stat, p_val = proportions_ztest(count=count, 
                                  nobs=nobs, 
                                  value=percent)
print(z_stat, p_val)

In [ ]:
# verifying
# (10175/49390)*100

In [ ]:
#p-value is less than 0.05, reject the null hypothesis. 
#the proportion of women spending more than 10000, is not 35%.

# s the average purchase made by men and women of the age 18-25 same?

In [ ]:
# t test for 2 sample

In [ ]:
#null hypothesis - average spends are equal 
#alternate hypothesis - average spends are not equal

data_men = data[(data['Gender'] == 1)& (data['Age'] == 1)]
data_women = data[(data['Gender'] == 0) & (data['Age'] == 1)]

In [ ]:
print(data_men["Purchase"].mean())
print(data_women["Purchase"].mean())

In [ ]:
#creating samples
data_men_sample = data_men.sample(500, random_state=0)
data_women_sample = data_women.sample(500, random_state=0)

In [ ]:
print(data_men_sample["Purchase"].var())
print(data_women_sample["Purchase"].var())

In [ ]:
from scipy.stats import ttest_ind

t_stat_2, p_val_2 = ttest_ind(data_men_sample["Purchase"], data_women_sample["Purchase"],equal_var=True)
print(t_stat_2, p_val_2)

In [ ]:
#we can reject the null hypothesis using the test statistic and since p-value is less than 0.05.
#the average purchases are not the same.

# . Is the percentage of men who have spent more than 10000 the same for the ages 18-25 and 26-35?

In [42]:
#null hypothesis - Percentage of the men in the age groups is same
#alternate hypothesis - Percentage of the men in the age groups is not same

data_age1 = data[(data['Age'] == 1) & (data['Purchase'] > 10000)]
data_age2 = data[(data['Age'] == 2) & (data['Purchase'] > 10000)]

In [43]:
data_age1_sample = data_age1.sample(1000, random_state=0)
data_age2_sample = data_age2.sample(1000, random_state=0)

In [44]:
count, nobs and value

NameError: name 'count' is not defined

In [45]:
count = [(data_age1_sample['Gender'] == 1).sum(), (data_age2_sample['Gender'] == 1).sum()]

nobs = [(len(data_age1_sample)), len(data_age2_sample)]

In [46]:
(data_age1_sample['Gender'] == 1).sum()

789

In [47]:
(data_age2_sample['Gender'] == 1).sum()

816

In [48]:
count,nobs

([789, 816], [1000, 1000])

In [49]:
from statsmodels.stats.proportion import proportions_ztest
stat_2sample, p_value_2sample = proportions_ztest(count=count, 
                                                  nobs=nobs, 
                                                  value=0)

In [50]:
print(stat_2sample, p_value_2sample)

-1.5165009817767297 0.12939272225896914

In [51]:
#p value is more than 0.05, cannot reject the null hypthesis. 
#therefore, Percentage of the men in the age groups is same